In [50]:
import requests

import pandas as pd

from bs4 import BeautifulSoup

from datetime import datetime

---

In [51]:
#import news data and season duration
df_season = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/season_duration.csv')
df_nba_news_archive = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/nba_news_archive.csv')
#df_nba_news_archive_600 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/nba_news_archive_600.csv')
#df_nba_news_archive_600_1200 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/nba_news_archive_600_1200.csv')
#df_nba_news_archive_1200_1640 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/nba_news_archive_1200_1640.csv')
df_season_use = df_season[-13:]

In [52]:
#import players for each season
df_2023 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2017-2023/2023_player_data.csv')
df_2022 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2017-2023/2022_player_data.csv')
df_2021 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2017-2023/2021_player_data.csv')
df_2020 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2017-2023/2020_player_data.csv')
df_2019 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2017-2023/2019_player_data.csv')
df_2018 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2017-2023/2018_player_data.csv')
df_2017 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2017-2023/2017_player_data.csv')
df_2016 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2010-2016/2016_player_data.csv')
df_2015 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2010-2016/2015_player_data.csv')
df_2014 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2010-2016/2014_player_data.csv')
df_2013 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2010-2016/2013_player_data.csv')
df_2012 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2010-2016/2012_player_data.csv')
df_2011 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2010-2016/2011_player_data.csv')
df_2010 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/2010-2016/2010_player_data.csv')

In [53]:
#d_all_news = pd.concat([df_nba_news_archive, df_nba_news_archive_600, df_nba_news_archive_600_1200, df_nba_news_archive_1200_1640])

In [54]:
df_nba_news_archive

,Unnamed: 0,title,time,url
0,0,"Bucks’ George Hill Returns To Milwaukee, Encou...","October 24, 2020",http://global.nba.com/news/bucks-george-hill-r...
1,1,"NBA, WNBA Ramp Up Efforts To Get Out The Vote ...","October 24, 2020",http://global.nba.com/news/nba-wnba-ramp-up-ef...
2,2,"Pat Riley Discusses Heat Future, Plans For Kee...","October 23, 2020",http://global.nba.com/news/pat-riley-discusses...
3,3,Report: Amar’e Stoudemire Joins Steve Nash’s C...,"October 23, 2020",http://global.nba.com/news/report-amare-stoude...
4,4,ESPN To Host Virtual 2020 NBA Draft Presented ...,"October 22, 2020",http://global.nba.com/news/espn-to-host-virtua...
...,...,...,...,...
16390,16390,2015-16 Season Preview Extravaganza | How Will...,"October 12, 2015",http://global.nba.com/news/2015-16-season-prev...
16391,16391,All NBA League Pass First Team: John Wall,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...
16392,16392,All NBA League Pass First Team: Damian Lillard,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...
16393,16393,All NBA League Pass First Team: Giannis Anteto...,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...
16394,16394,All NBA League Pass First Team: DeMarcus Cousins,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...

In [55]:
duration_list = list(df_season["duration"])

In [69]:
df_season

     season                           duration
0   1950-51  October 31, 1950 – March 18, 1951
1   1951-52  November 1, 1951 – March 16, 1952
2   1952-53  October 31, 1952 – March 17, 1953
3   1953-54  October 30, 1953 – March 14, 1954
4   1954-55  October 30, 1954 – March 14, 1955
..      ...                                ...
68  2018-19  October 16, 2018 – April 10, 2019
69  2019-20  October 22, 2019 – March 11, 2020
70  2020-21   December 22, 2020 – May 16, 2021
71  2021-22  October 19, 2021 – April 10, 2022
72  2022-23   October 18, 2022 – April 9, 2023

[73 rows x 2 columns]

---

## filter the news

In [70]:

def filter_news_by_time(news_df, date_duration):
    # Convert 'date' column to datetime format
    news_df['time'] = pd.to_datetime(news_df['time'], format="%B %d, %Y")
    start_string, end_string = date_duration.split(" – ")
    start_string = start_string.strip(_)
    end_string = end_string.strip()
    start_date = datetime.strptime(start_string, "%B %d, %Y")
    end_date = datetime.strptime(end_string, "%B %d, %Y")
    mask = (news_df['time'] >= start_date) & (news_df['time'] <= end_date)
    news_within_duration = news_df.loc[mask]


    return news_within_duration

In [149]:
import pandas as pd
from datetime import datetime

def add_new_column(df_news, df_seasons):
    df_news['time'] = pd.to_datetime(df_news['time'], format='%B %d, %Y')
    
    df_news['season'] = ''
    
    # Loop through each season in season dataframe
    for i, season_row in df_seasons.iterrows():
        duration_str = season_row['duration'].replace('–', '-')  # replace dashes with hyphens
        try:
            season_start = datetime.strptime(duration_str.split('-')[0].strip(), "%B %d, %Y")
            season_end = datetime.strptime(duration_str.split('-')[1].strip(), "%B %d, %Y")
        except: 
            season_start = datetime.strptime(duration_str.split('-')[0].strip() + ", 1998", "%B %d, %Y")
            season_end = datetime.strptime(duration_str.split('-')[1].strip(), "%B %d, %Y")
        
        mask = (df_news['time'] >= season_start) & (df_news['time'] <= season_end) & (df_news['season'] == '')
        df_news.loc[mask, 'season'] = season_row['season']
    
    return df_news

In [150]:
pd_all_news_for_duration = df_nba_news_archive.copy()
news_season = add_new_column(pd_all_news_for_duration, df_season)

In [151]:
news_season

,Unnamed: 0,title,time,url,season
0,0,"Bucks’ George Hill Returns To Milwaukee, Encou...",2020-10-24,http://global.nba.com/news/bucks-george-hill-r...,
1,1,"NBA, WNBA Ramp Up Efforts To Get Out The Vote ...",2020-10-24,http://global.nba.com/news/nba-wnba-ramp-up-ef...,
2,2,"Pat Riley Discusses Heat Future, Plans For Kee...",2020-10-23,http://global.nba.com/news/pat-riley-discusses...,
3,3,Report: Amar’e Stoudemire Joins Steve Nash’s C...,2020-10-23,http://global.nba.com/news/report-amare-stoude...,
4,4,ESPN To Host Virtual 2020 NBA Draft Presented ...,2020-10-22,http://global.nba.com/news/espn-to-host-virtua...,
...,...,...,...,...,...
16390,16390,2015-16 Season Preview Extravaganza | How Will...,2015-10-12,http://global.nba.com/news/2015-16-season-prev...,
16391,16391,All NBA League Pass First Team: John Wall,2015-10-12,http://global.nba.com/news/all-nba-league-pass...,
16392,16392,All NBA League Pass First Team: Damian Lillard,2015-10-12,http://global.nba.com/news/all-nba-league-pass...,
16393,16393,All NBA League Pass First Team: Giannis Anteto...,2015-10-12,http://global.nba.com/news/all-nba-league-pass...,
16394,16394,All NBA League Pass First Team: DeMarcus Cousins,2015-10-12,http://global.nba.com/news/all-nba-league-pass...,

In [152]:
pd_all_news_for_duration = df_nba_news_archive.copy()
news_2023 = filter_news_by_time(pd_all_news_for_duration, df_season)
news_2022 = filter_news_by_time(pd_all_news_for_duration, duration_list[-2])
news_2021 = filter_news_by_time(pd_all_news_for_duration, duration_list[-3])
news_2020 = filter_news_by_time(pd_all_news_for_duration, duration_list[-4])
news_2019 = filter_news_by_time(pd_all_news_for_duration, duration_list[-5])
news_2018 = filter_news_by_time(pd_all_news_for_duration, duration_list[-6])
news_2017 = filter_news_by_time(pd_all_news_for_duration, duration_list[-7])
news_2016 = filter_news_by_time(pd_all_news_for_duration, duration_list[-8])
news_2015 = filter_news_by_time(pd_all_news_for_duration, duration_list[-9])
news_2014 = filter_news_by_time(pd_all_news_for_duration, duration_list[-10])
news_2013 = filter_news_by_time(pd_all_news_for_duration, duration_list[-11])
news_2012 = filter_news_by_time(pd_all_news_for_duration, duration_list[-12])
news_2011 = filter_news_by_time(pd_all_news_for_duration, duration_list[-13])
news_2010 = filter_news_by_time(pd_all_news_for_duration, duration_list[-14])

AttributeError: 'DataFrame' object has no attribute 'split'

In [ ]:
news_2023

Empty DataFrame
Columns: [Unnamed: 0, title, time, url]
Index: []

In [ ]:
df_season

     season                           duration
0   1950-51  October 31, 1950 – March 18, 1951
1   1951-52  November 1, 1951 – March 16, 1952
2   1952-53  October 31, 1952 – March 17, 1953
3   1953-54  October 30, 1953 – March 14, 1954
4   1954-55  October 30, 1954 – March 14, 1955
..      ...                                ...
68  2018-19  October 16, 2018 – April 10, 2019
69  2019-20  October 22, 2019 – March 11, 2020
70  2020-21   December 22, 2020 – May 16, 2021
71  2021-22  October 19, 2021 – April 10, 2022
72  2022-23   October 18, 2022 – April 9, 2023

[73 rows x 2 columns]

# using the url of ladder to get the top 10

In [ ]:
# all name list 
whole_list = [df_2023["name"],
                df_2022["name"],
                df_2021["name"], 
                df_2020["name"],
                df_2019["name"],
                df_2018["name"],
                df_2017["name"],
                df_2016["name"],
                df_2015["name"],
                df_2014["name"],
                df_2013["name"],
                df_2012["name"],
                df_2011["name"],
                df_2010["name"]]

In [ ]:
# function which finds the news contain player
pd_all_news_1 = df_nba_news_archive.copy()
df_list = []
def get_player_news(player_list):
    pd_all_news_2 = pd_all_news_1.copy()
    df_list = []
    for player in player_list:
        try:
            pd_player = pd_all_news_2[pd_all_news_2["title"].str.contains(player, na = False)]
            pd_key = pd_player[pd_player["title"].str.contains("MVP", na = False)]
            rows = pd_key.shape[0]
            new_col = pd.Series([player] * rows, name = 'player')
            pd_key = pd_key.join(new_col)
            df_list.append(pd_key)
        except:
            print(f"No news articles found for player {player}")

    final_df = pd.concat(df_list, ignore_index=True)
    final_df.drop(columns = "Unnamed: 0", inplace = True)
    final_df = final_df[final_df["title"].notna()]
    final_df.reset_index(drop = True, inplace = True)

In [ ]:
credit_article = []
credit_followers = []
credit_tweets = []
for name in df_nba_news_archive["author"]:
    if name == "None":
        credit_article.append(name)
        credit_followers.append(name)
        credit_tweets.append(name)
    if name == "NBA.com Staff" or "NBA News":
        credit_article.append("Default")
        credit_followers.append("Default")
        credit_tweets.append("Default")
    else:
        try:
            player_search = "Keith Langlois".replace(" ", "-")
            url = "https://muckrack.com/" + player_search
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'html.parser')
            html = soup.find_all('a', attrs={'class':"profile-edit-btn"})
            for line in html:
                if line.text == "See all":
                    span_elem = line.find('span')
                    text_content = span_elem.text.strip()
                    num_articles = int(text_content.split()[0].replace(',', ''))
                    credit_article.append(num_articles)
                else:
                    credit_article.append("None")
            tweet = soup.find_all('p', attrs={'class':"fs-6 mt-0 mb-6"})
            tweet_num = tweet.get_all("strong")
            followers = tweet_num[0].strong.text.replace(',', '')
            tweets = tweet_num[1].strong.text.replace(',', '')

        except:
            if len(credit_followers) < len(credit_article):
                credit_followers.append("None")
            if len(credit_tweets) < len(credit_article):
                credit_tweets.append("None")

KeyError: 'author'

In [ ]:
df_nba_news_archive["credit_article"] = credit_article
df_nba_news_archive["credit_followers"] = credit_followers
df_nba_news_archive["credit_tweets"] = credit_tweets
df_nba_news_archive

In [ ]:
url = "https://en.wikipedia.org/wiki/2020-21_NBA_season"            
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
date_duration = soup.find('th', text='Duration').parent
duration_text = date_duration.find('td', class_='infobox-data')
ul = duration_text.find('ul')
li = ul.find('li')
date_range = li.text

In [ ]:
pd_all_news_for_duration['time'] = pd.to_datetime(pd_all_news_for_duration['time'], format="%B %d, %Y")
pd_all_news_for_duration

In [ ]:
start_string, end_string = "October 18, 2015 – April 9, 2016".split(" – ")

start_date = datetime.strptime(start_string, "%B %d, %Y")
end_date = datetime.strptime(end_string, "%B %d, %Y")
news_within_duration = pd_all_news_for_duration[(pd_all_news_for_duration['time'] <= start_date) & (pd_all_news_for_duration['time'] >= end_date)]

In [ ]:
def filter_news_by_time(news_df, date_duration, season):
    # Convert 'date' column to datetime format
    news_df['time'] = pd.to_datetime(news_df['time'], format="%B %d, %Y")
    start_string, end_string = date_duration.split(" – ")
    start_date = datetime.strptime(start_string, "%B %d, %Y")
    end_date = datetime.strptime(end_string, "%B %d, %Y")
    mask = (news_df['time'] >= start_date) & (news_df['time'] <= end_date)
    news_within_duration = news_df.loc[mask]
    
    # Add season column to the filtered news dataframe
    news_within_duration['season'] = season
    
    return news_within_duration

In [ ]:
a = filter_news_by_time(pd_all_news_for_duration[:3], "October 18, 2015 – April 9, 2016")

In [ ]:
pd_all_news_for_duration[:3]

In [ ]:
df_season_use = df_season[-13:]
df_season_use