In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import itertools
from google.colab import drive

In [2]:
drive.mount('/content/drive')
url = 'http://www.espn.com/nba/history/awards/_/id/33'
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')
table = soup.find('table',{'class':'tablehead'},{'cellspacing':'0'})

table_data = pd.read_html(str(table))

df = table_data[0]
display(df)

year_list = list(df.iloc[2:69,0])
new_year_list = []
for years in year_list:
  new_year_list.append(int(years))
MVP_list = list(df.iloc[2:69,1])
result_value = [0]*4489
combination = itertools.product(MVP_list, new_year_list)
MVP_dataframe = pd.DataFrame(combination, columns=['Name', 'Year'])
MVP_dataframe['value'] = result_value

MVP_dataframe.insert(loc=3, column='won_last_yr', value=0)
MVP_dataframe.insert(loc=4, column='won_2_yrs_before', value=0)

for number_index in range(0,67):
  mvp_name = MVP_list[number_index]
  target_year = new_year_list[number_index]
  MVP_dataframe.loc[(MVP_dataframe['Name'] == mvp_name) & (MVP_dataframe['Year'] == target_year), 'value'] += 1
  target_first_cell = mvp_name
  target_second_cell = target_year + 1
  target_third_cell = target_year + 2
  MVP_dataframe.loc[(MVP_dataframe['Name'] == target_first_cell) & (MVP_dataframe['Year'] == target_second_cell), 'won_last_yr'] = 1
  MVP_dataframe.loc[(MVP_dataframe['Name'] == target_first_cell) & (MVP_dataframe['Year'] == target_third_cell), 'won_2_yrs_before'] = 1

MVP_dataframe.drop_duplicates(subset=['Name', 'Year'], keep='first', inplace=True)

display(MVP_dataframe)
MVP_dataframe.to_csv('/content/drive/MyDrive/DS105L group project/MVP_history.csv',index=False)

Mounted at /content/drive

,0,1,2,3,4,5,6,7,8,9
0,MVP,MVP,MVP,MVP,MVP,MVP,MVP,MVP,MVP,MVP
1,YEAR,PLAYER,POS,TEAM,FG%,PPG,RPG,APG,BLKPG,NaN
2,2023,Joel Embiid,C,Philadelphia 76ers,.548,33.1,10.2,4.2,1.7,NaN
3,2022,Nikola Jokic,C,Denver Nuggets,.583,27.1,13.8,7.9,0.9,NaN
4,2021,Nikola Jokic,C,Denver Nuggets,.566,26.4,10.8,8.3,0.7,NaN
...,...,...,...,...,...,...,...,...,...,...
65,1960,Wilt Chamberlain,NaN,Philadelphia Warriors,No stats available.,No stats available.,No stats available.,No stats available.,No stats available.,NaN
66,1959,Bob Pettit,NaN,St. Louis Hawks,No stats available.,No stats available.,No stats available.,No stats available.,No stats available.,NaN
67,1958,Bill Russell,NaN,Boston Celtics,No stats available.,No stats available.,No stats available.,No stats available.,No stats available.,NaN
68,1957,Bob Cousy,NaN,Boston Celtics,No stats available.,No stats available.,No stats available.,No stats available.,No stats available.,NaN
69,1956,Bob Pettit,NaN,St. Louis Hawks,No stats available.,No stats available.,No stats available.,No stats available.,No stats available.,NaN

             Name  Year  value  won_last_yr  won_2_yrs_before
0     Joel Embiid  2023      1            0                 0
1     Joel Embiid  2022      0            0                 0
2     Joel Embiid  2021      0            0                 0
3     Joel Embiid  2020      0            0                 0
4     Joel Embiid  2019      0            0                 0
...           ...   ...    ...          ...               ...
4484    Bob Cousy  1961      0            0                 0
4485    Bob Cousy  1960      0            0                 0
4486    Bob Cousy  1959      0            0                 1
4487    Bob Cousy  1958      0            1                 0
4488    Bob Cousy  1957      1            0                 0

[2412 rows x 5 columns]