In [1]:
import pandas as pd

# Import data

In [2]:
df_teams = pd.read_csv("../../Data/raw_player_team_data/merged_team_conference.csv")
df_teams.drop("Unnamed: 0", axis=1, inplace=True)
df_teams

,season,team,conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,NEW YORK KNICKS,Eastern,29,53,0.353659,11
416,2010,PHILADELPHIA 76ERS,Eastern,27,55,0.329268,12
417,2010,DETROIT PISTONS,Eastern,27,55,0.329268,13
418,2010,WASHINGTON WIZARDS,Eastern,26,56,0.317073,14
419,2010,NEW JERSEY NETS,Eastern,12,70,0.146341,15

In [3]:
df_teams.dtypes

season                   int64
team                    object
conference              object
W                        int64
L                        int64
win_rate               float64
conference_standing      int64
dtype: object

In [4]:
df_teams["W"] = df_teams["W"].astype(int)
df_teams["L"] = df_teams["L"].astype(int)

In [5]:
df_teams

,season,team,conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,NEW YORK KNICKS,Eastern,29,53,0.353659,11
416,2010,PHILADELPHIA 76ERS,Eastern,27,55,0.329268,12
417,2010,DETROIT PISTONS,Eastern,27,55,0.329268,13
418,2010,WASHINGTON WIZARDS,Eastern,26,56,0.317073,14
419,2010,NEW JERSEY NETS,Eastern,12,70,0.146341,15

In [6]:
df_teams.dtypes

season                   int64
team                    object
conference              object
W                        int64
L                        int64
win_rate               float64
conference_standing      int64
dtype: object

In [7]:
df_teams["team"] = df_teams["team"].apply(lambda x: x.upper()) 
df_teams

,season,team,conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
...,...,...,...,...,...,...,...
415,2010,NEW YORK KNICKS,Eastern,29,53,0.353659,11
416,2010,PHILADELPHIA 76ERS,Eastern,27,55,0.329268,12
417,2010,DETROIT PISTONS,Eastern,27,55,0.329268,13
418,2010,WASHINGTON WIZARDS,Eastern,26,56,0.317073,14
419,2010,NEW JERSEY NETS,Eastern,12,70,0.146341,15

In [8]:
df_teams_2023 = df_teams[df_teams["season"] == 2023]
df_teams = df_teams[df_teams["season"] != 2023]

In [9]:
df_teams_2023

,season,team,conference,W,L,win_rate,conference_standing
0,2023,DENVER NUGGETS,Western,48,24,0.666667,1
1,2023,MEMPHIS GRIZZLIES,Western,43,27,0.614286,2
2,2023,SACRAMENTO KINGS,Western,43,27,0.614286,3
3,2023,PHOENIX SUNS,Western,38,33,0.535211,4
4,2023,LOS ANGELES CLIPPERS,Western,38,34,0.527778,5
5,2023,DALLAS MAVERICKS,Western,36,35,0.507042,6
6,2023,GOLDEN STATE WARRIORS,Western,36,36,0.500000,7
7,2023,OKLAHOMA CITY THUNDER,Western,35,36,0.492958,8
8,2023,MINNESOTA TIMBERWOLVES,Western,35,37,0.486111,9
9,2023,LOS ANGELES LAKERS,Western,35,37,0.486111,10
10,2023,UTAH JAZZ,Western,34,36,0.485714,11
11,2023,NEW ORLEANS PELICANS,Western,34,37,0.478873,12
12,2023,PORTLAND TRAIL BLAZERS,Western,31,40,0.436620,13
13,2023,SAN ANTONIO SPURS,Western,19,52,0.267606,14
14,2023,HOUSTON ROCKETS,Western,18,53,0.253521,15
15,2023,MILWAUKEE BUCKS,Eastern,51,20,0.718310,1
16,2023,PHILADELPHIA 76ERS,Eastern,48,22,0.685714,2
17,2023,BOSTON CELTICS,Eastern,49,23,0.680556,3
18,2023,CLEVELAND CAVALIERS,Eastern,45,28,0.616438,4
19,2023,NEW YORK KNICKS,Eastern,42,30,0.583333,5
20,2023,BROOKLYN NETS,Eastern,39,32,0.549296,6
21,2023,MIAMI HEAT,Eastern,39,34,0.534247,7
22,2023,ATLANTA HAWKS,Eastern,35,36,0.492958,8
23,2023,TORONTO RAPTORS,Eastern,35,37,0.486111,9
24,2023,CHICAGO BULLS,Eastern,33,37,0.471429,10
25,2023,INDIANA PACERS,Eastern,32,39,0.450704,11
26,2023,WASHINGTON WIZARDS,Eastern,32,39,0.450704,12
27,2023,ORLANDO MAGIC,Eastern,29,43,0.402778,13
28,2023,CHARLOTTE HORNETS,Eastern,22,50,0.305556,14
29,2023,DETROIT PISTONS,Eastern,16,56,0.222222,15

In [10]:
#df_teams.to_csv("../../Data/semi_processed_data/team_data.csv")
#df_teams_2023.to_csv("../../Data/semi_processed_data/team_data_2023.csv")