In [1]:
import requests

import pandas as pd

from bs4 import BeautifulSoup

from datetime import datetime

In [2]:
df_nba_news_archive_1200_1640 = pd.read_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/nba_news_archive_1200_1640.csv')

In [3]:
news_1200_1600 = df_nba_news_archive_1200_1640.copy()

In [4]:
from tqdm import tqdm

def find_author(df_news):
    list_url = list(df_news["url"])
    author_list = []
    for url in tqdm(list_url, desc="Finding authors"):
        try:
            r = requests.get(url) 
            soup = BeautifulSoup(r.content, "html.parser") 
            author = soup.find("span", attrs ={"class": "entry-header__author"}).contents[0]
            author_list.append(author)
        except:
            author = "NA"
            author_list.append(author)
    df_news.loc[:, "author"] = author_list
    return df_news

In [5]:
news_1600_author = find_author(news_1200_1600)

Finding authors: 100%|██████████| 4396/4396 [2:10:14<00:00,  1.78s/it]

In [6]:
news_1600_author

,Unnamed: 0,title,time,url,author
0,0,Isaiah Thomas Named Eastern Conference Player ...,"February 2, 2017",http://global.nba.com/news/isaiah-thomas-named...,NBA News
1,1,Muhammad Anchoring Wolves Second Unit,"February 2, 2017",http://global.nba.com/news/muhammad-anchoring-...,NBA News
2,2,Schedule Breakdown: Clippers in for challengin...,"February 2, 2017",http://global.nba.com/news/schedule-breakdown-...,NBA News
3,3,Magic Johnson to Advise Lakers Team Ownership,"February 2, 2017",http://global.nba.com/news/magic-johnson-to-ad...,Nick Kioski
4,4,Feb. 2 Shootaround — Knicks Still In Pursuit O...,"February 2, 2017",http://global.nba.com/news/feb-2-shootaround-k...,NBA News
...,...,...,...,...,...
4391,4391,2015-16 Season Preview Extravaganza | How Will...,"October 12, 2015",http://global.nba.com/news/2015-16-season-prev...,Kyle Ratke
4392,4392,All NBA League Pass First Team: John Wall,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...,NBA News
4393,4393,All NBA League Pass First Team: Damian Lillard,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...,NBA News
4394,4394,All NBA League Pass First Team: Giannis Anteto...,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...,NBA News
4395,4395,All NBA League Pass First Team: DeMarcus Cousins,"October 12, 2015",http://global.nba.com/news/all-nba-league-pass...,NBA News

In [7]:
news_1600_author.to_csv('/Users/annabelitong/desktop/annabel/uni/ds105l/group_project/DS105L-Project/Data/news_author/news_1600_author.csv', index=False)